button {
  outline: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 0 10px;
  background-color: $button-main-color;
  height: 40px;
  &.secondary {
    color: black;
    background: transparent;
    border: 1px solid black;
  }
}